<launch>
  <!-- Lanzar la cámara RealSense -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_pointcloud" value="true"/>
    <arg name="align_depth" value="true"/>
    <arg name="ordered_pc" value="true"/>
  </include>

  <!-- Esperar un poco antes de lanzar el detector (opcional) -->
  <group ns="aruco">
    <node pkg="aruco_detector" type="aruco_detector" name="aruco_detector" output="screen"/>
    <param name="~theta_offset" value="-0.524" />
  </group>

  <include file="$(find canusb)/launch/can_launch.launch"/>

  <!-- Lanzar nodo de localización -->
  <node pkg="localization" type="localization_node" name="localization_node" output="screen">
    <param name="landmarks_file" value="$(find localization)/config/landmarks_file.yaml"/>
    <param name="camera_height" value="0.86"/>
    <param name="theta_offset" value="0.0" /> 
    <!-- -1.97 -->
    <param name="theta_sign"   value="1.0" />
    <param name="debug" value="true" />
    <rosparam param="initial_pose">
      - 0.0
      - 0.0
      - 0.0
    </rosparam>

  </node> 
</launch>